:root {
  --black: #000000;
  --white: #ffffff;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --gray: #e8ebf1;
  --dark-gray: #626262;
  --aquamarine: #2aacc8;
  --dark-aquamarine: #6ec2c9;
  --orange: #e05936;
}

body {
  margin: 0;
  font-family: "DejaVu Sans", Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.main-header {
  background: var(--gray);
  border-bottom: 1px solid var(--dark-aquamarine);
  box-shadow: 0 2px 2.5px var(--transparent-black);
}

.main-header > .container {
  display: flex;
  align-items: center;
  min-height: 119px;
}

.main-logo {
  color: var(--black);
  font-size: 50px;
  text-decoration: none;
  transition: opacity 0.3s;
}

.main-logo:hover:not(:active) {
  opacity: 0.5;
}

.main-logo > span:first-child {
  font-weight: 700;
}

.main-logo > span:last-child {
  color: var(--aquamarine);
}

.main-nav {
  margin-left: auto;
  text-transform: uppercase;
}

.main-nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
  padding-right: 17px;
}

.main-nav > ul > li:not(:last-child) {
  margin-right: 50px;
}

.main-nav a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s;
}

.main-nav a:hover {
  color: var(--aquamarine);
}

.carousel {
  position: relative;
  padding-top: 20px;
  background: var(--aquamarine);
}

.example {
  position: absolute;
  top: 50%;
  height: 300px;
  transform: translateY(-50%);
}

.slide {
  position: relative;
  width: 100%;
  height: 440px;
  max-height: 440px;
  padding: 100px 60px;
  overflow: hidden;
  box-sizing: border-box;
  color: var(--white);
  font-family: "Lato", Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.slide *:not(img) {
  position: relative;
  z-index: 1;
}

.slide img {
  position: absolute;
  pointer-events: none;
}

.slide-1 {
  background: var(--orange);
}

.slide-1 img:first-of-type {
  top: 0;
  left: 416px;
}

.slide-1 img:last-of-type {
  top: -28px;
  right: -200px;
}

.slide-slogan {
  display: block;
  width: 320px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
}

.carousel-nav > ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 13px 0;
}

.carousel-nav > ul > li:not(:last-child) {
  margin-right: 18px;
}

.carousel-nav button {
  width: 14px;
  height: 14px;
  padding: 0;
  background: var(--dark-gray);
  border: 0;
  color: transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.carousel-nav button.active-page {
  background: var(--white);
  cursor: default;
}

.carousel-nav button:hover:not(:active):not(.active-page) {
  opacity: 0.5;
}

.features {
  background: var(--gray);
}

.features > .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  padding: 20px 0;
}

.features .article {
  width: 100%;
  height: 180px;
  background: var(--aquamarine);
}
